<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
<!--    <insert id="addApplication" parameterType="com.scut.p2ploanplatform.entity.LoanApplication">-->
<!--        INSERT INTO loan_application (borrower_id, guarantor_id, status, amount, interest_rate, loan_month, purchase_deadline)-->
<!--        VALUES (#{borrower_id}, #{guarantor_id}, {})-->
<!--    </insert>-->
</mapper>